body, html, #app, .app-container {
    height: 100%;
}
.app-container {
    .content {
        min-height: 100%;
    }
}
.social-nt {
    background: darken($primary, 10);
    border-bottom: 1px solid rgba(black, 0.05);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
        text-align: center;
        padding: 5px 10px;
        margin: 0 5px;
        text-decoration: none;
        color: $gray-200;
        &:hover {
            background: darken($primary, 15);
        }
        i {
            margin-right: .5rem;
            color: inherit;
        }
    }
}

.service {
    margin-top: .7rem;
    figure {
        height: 130px;
        margin-bottom: 0 !important;
        div {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-color: #495057;;
        }
    }
}


.not-found {
    position: absolute;
    top: 50%;
    color: $gray-500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
}
.custom-brand {
    img {
        border-radius: 50%;
    }
}

footer {
    clear: both;
    position: relative;
    text-align: center;
    padding: 10px;
    color: rgba(white, .4);
}

.service-show {
    border-top: 0;
    figure {
        height: 200px;

        div {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-color: #495057;
        }
    }
}

.list-group-item-dark {
    background: #343a40 !important;
    color: white;
    border: 1px solid #495057;
}
